.Parent-nav{
    padding: 0;
    background-color: rgba(66, 3, 3, 0.938); 
    color:rgba(238, 233, 219, 0.753);
}
.nav-link{
    color: rgba(238, 233, 219, 0.861);
    font-size: 1.3em;
}
.nav-link:hover{
    color: rgba(238, 233, 219, 0.495) ;
}